<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'baron.jpg', width: 700, height: 500, crop: :fill %>'); ">
  <div class="banner-content">
    <h1>Drinking League of Legendary Drinks</h1>
    <h3> Ready to get your pre-game on?</h3>
    <p>Soon avaiable via augmented reality</p>
  </div>
</div>
